.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    text-align: center;
    padding: 10px;
  }
  
  // .btn {
  //   width: auto;
  //   padding: 5px 10px;
  // }
  
  .table th {
    background-color: #f1f1f1;
  }
  