.book-detail {
    h2, h3, h4 {
      margin-bottom: 20px;
    }
  
    hr {
      margin: 20px 0;
    }
  
    table {
      width: 100%;
    }
  
    .table td {
      padding: 10px;
    }
  
    .img-fluid {
      max-width: 100%;
      height: auto;
    }
  
    .text-danger {
      color: red;
    }
  
    .text-primary {
      color: blue;
      text-decoration: underline;
    }
  
    .text-primary:hover {
      text-decoration: none;
    }
  }
  