.search__container {
  margin-top: 20px;
  background-color: rgb(214, 214, 214);
  padding: 20px;
  border-radius: 10px;
}

.search__button {
    button {
      width: 50%; /* Điều chỉnh chiều dài nút */
      margin: 0 auto; /* Căn giữa nút trong hàng */
    }
  }
  